@charset "utf-8";

html, body, header, aside, footer { 
	padding: 0; 
	margin: 0; 
	outline: 0;
	border: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background-color: white; 
} 
body { 
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: auto;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px; 
	line-height:1.5; 
	color:#565656;
	width: auto;
	max-width: 100%;
	text-shadow: none;
} 
p { color: #565656; margin:0; font-weight:400; font-size:16px; text-align:left; font-family: 'Source Sans Pro', sans-serif; } 	 
span { font-weight:400; color:#565656; font-size:16px; }
a { color: #333333; text-decoration: none; outline: none; cursor: pointer; } 
a:hover { color: #666666; }
ol, ul, li { list-style: none; }
ul { margin:0; }
h2 { font-family: 'Source Sans Pro', sans-serif; font-size:32px; font-weight:700; color:#333333; margin:0; }
h3 { font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:700; color:#333333; }
hr { margin:auto; border-color:#777777; }
fieldset { border:none; }
.button { 
	background-color:#8e001c; 
	font-family: 'Source Sans Pro',sans-serif; 
	font-weight: 700; 
	font-size: 24px; 
	border-color: #760118;
}
button:hover, button:focus, .button:hover, .button:focus { background-color:#ffb300; }
figure { width:100%; margin:0; }
.row { margin-top:0; margin-bottom:0; margin-right:auto; margin-left:auto; max-width:120em; }
.centered-text { text-align:center; }
.container { position:relative; margin:0 auto; width:78% /*980px*/; text-align:center; }  /*?*/
#page-wrap { position:relative; margin:0 auto; padding-top:66px; }
#page-wrap.wide { width:auto; }

/*GENERAL CLASSES*/
   /*bg img*/
.bgimg { 
	display: block;                                                                    
	max-width: 100%;
	padding-top: 575px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.bgimg h1 { 
	z-index:2;
	position: absolute;
	width: 64%;
	top: 219px;
	color: white;
	font-size: 60px;
	font-family: 'Source Sans Pro';
	font-weight:700;
	text-align:center;
	left:19%;
	line-height: 1.21;
}  
.overlay { position:absolute; width:100%; height:100%; top:0; left:0; z-index:1; opacity: 0.15; }
   /*bg img*/
.bg-white { background-color:#f8f8f8; }
.bg-grey  { background-color:#f3f3f3; }
   /*spacers for row*/
.spacer { padding:0 7%; }
.spacer-for-circle { padding-top:2.188em; }
.spacer-for-circle:last-child { padding-bottom:2.188em; }
.spacer-for-h2 { padding:50px 0; }
.spacer-padding-bottom-text { padding-bottom:70px; }
.spacer-padding-top-text { padding-top:30px; }
   /*spacers for row*/
.hr-white { border-color:white; }
.hr-red { border-color:#8e001c; }
.hr-grey { border:1px solid #eaeaea; }
.p-for-column { font-size:18px; font-weight:300; text-align:left; }
.h2-for-title { font-size:22px; text-align:left; color:#565656; }
.span-red { color: #8e001c; font-size: 16px; }
   /*figure_circle*/
.img-round { border-radius: 50%; border: 5px solid white; object-fit: cover; } /*change name img-round*/
.grey-border { border:1px solid #f4f4f4; padding:2px; }
.h3-for-circle { font-size:24px; padding:11px; }
   /*figure_circle*/
   /*label_for_price*/
.imgHolder { position:relative;  border: 5px solid white; }
.imgHolder img { width:100%; margin:0 !important; }
.imgHolder span { 
	position:absolute; 
	top:0; 
	left:0; 
	width:86px; 
	text-align:left; 
	padding-left:5px; 
	font-weight:300; 
	font-size:18px; 
	color:white;
}
.imgHolder span:before {
	content:""; /*must be declared on a pseudo element*/
	position:absolute; /*allows positioning using left right top and bottom properties*/
	right:-13px; /*we want it on far right*/
	top:0; /*since it's the same height, you can declare this as bottom:0; instead*/
}
.p-text { color:#8e001c; font-weight:700; font-size:18px; text-transform:uppercase; }
   /*label_for_price*/
   /*text_for_figure_square*/
span.header-text { font-weight:700; font-size:18px; color:#333333; }
.features-list-item { display:table; width: 100%; padding-top: 7px; padding-bottom: 5px; margin: 0; cursor: pointer; }
.features-list-main { margin: 0; padding: 0; display: inline-block; width: 90%; }
.features-span { 
	background-position: left center;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 47px;
	padding-right: 5px;
	background-repeat: no-repeat;
	line-height: 22px;
	font-weight:400; 
}
   /*text_for_figure_square*/
   /*comboimg*/
.comboimg { padding:5px 5px 13px; } /*need change-resize image*/
.img-bg { box-shadow: 0 4px 0 0 rgba(142, 142, 142, 0.2); background:white; border:solid 5px #FFFFFF; }
.comboimg img { width:245px; height:150px; }
   /*comboimg*/
ul.disc { color:#565656; text-align:left; }
/*GENERAL CLASSES*/

/*NAVIGATION MENU*/
.top-bar { min-height:70px; display:block; position:fixed; width:100%; z-index:999; background:white; top:0; }
#logo { height:66px; float:left; }
.top-bar img { display:inline-block; vertical-align:middle; }
#navigation { float: left; height:auto; } 
#navigation li { float: left; position: relative; /*New*/ height:100%; }
#navigation a { 
	float: left; 
	font-family: 'Source Sans Pro',sans-serif; 
	font-weight: 400;
	font-size: 19px; 
	color: #333333; 
	height:100%;
	padding: 0 12px; 
	position: relative; 
	text-decoration: none; 
	line-height: 65px;
}
#navigation li a:hover { background-color:#f1f1f1; color:#8e001c; border-bottom:5px solid #8e001c; }
#navigation a:hover { background: none; color: #47AEDE; text-decoration: none; }
.navigation-item-active { color: #3e7bcf!important; box-shadow:inset 0 -3px 0 #3e7bcf; opacity:1; }
.down_arrow::before { 
	display: inline-block; 
	background-image: url(../img/down_arrow_black.png); 
	content:' '; 
	background-repeat: no-repeat;
	width:13px;
	height:11px;
}
.down_arrow:hover::before { 
	display: inline-block; 
	background-image: url(../img/down_arrow_blue.png); 
	content:' '; 
	background-repeat: no-repeat;
	width:13px;
	height:11px;
}
.up_arrow::before {
	display: inline-block; 
	background-image: url(../img/up_arrow_black.png); 
	content:' '; 
	background-repeat: no-repeat;
	width:13px;
	height:12px;
}
.up_arrow:hover::before {
	display: inline-block; 
	background-image: url(../img/up_arrow_black.png); 
	content:' '; 
	background-repeat: no-repeat;
	width:13px;
	height:12px;
}
.navigation_dropdown_menu {
	padding: 20px 30px !important;
	background: white;
	z-index: 1031;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #D0D0D0;
	border-top: 1px solid #e7e7e7;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 400; 
	letter-spacing: 2px; 
	color: #888888; 
	font-size: 13px !important;
	text-transform: uppercase; 
	text-decoration: none;
	display: none;
}
#our-service-expanded-menu { display: none; }
#our-service-expanded-menu div.item:hover { background-color:#f1f1f1; }
.item { width: 33.333%; float:left; }
.item-image { width:50px; height:50px; float:left; margin: 12px 0 35px 20px; }
/*NAVIGATION MENU*/

/*LANGUAGE*/
.lan-header { float: left; position: relative; width: 100px; height: 65px; }
.lan-header:hover { background: #f1f2f4; }
.lan-header:hover .lan-list { display: block !important; }
.lan-header .lan-current-item { display: block; background-position: 18px center; height: 100%; }
.lan-header .lan-current-item::after {
	position: relative;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: ' ';
	right: auto;
	left: 42px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #232f49;
	pointer-events: none;
}
.lan-en { background-image: url('../img/en.png'); background-repeat: no-repeat; }
.lan-es { background-image: url('../img/es.png'); background-repeat: no-repeat; }
.lan-pt-br { background-image: url('../img/pt.png'); background-repeat: no-repeat; }
.lan-de { background-image: url('../img/de.png'); background-repeat: no-repeat; }
.lan-it { background-image: url('../img/it.png'); background-repeat: no-repeat; }
.lan-list {
	display: none;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	z-index: 9001;
	top: 100%;
	width: 100%;
	padding: 9px 0;
	margin: 0;
	background: #232f49;
}
.lan-list-item { background-position: 18px center; }
.lan-list-item a { display: block; padding: 10px 0px 10px 44px; color: white; }
.lan-list-item:hover { background-color: #151617; }
/*LANGUAGE*/

/*---------------------------------------------GENERAL PAGE----------------------------------------------------------*/
/*CONTENT*/
/*BACKGROUND IMAGE*/
.general-bgimg { background-image: url('../img/top_image.jpg'); }
.general-bgimg .overlay { background-color: black; }
/*BACKGROUND IMAGE*/
/*SECTION PROMO*/
.promo span { display:block; padding-left:57px; text-align:left; }
.promo span.general-title { font-weight: 700; font-size: 24px; padding:0; line-height:60px; }
.promo span.title { font-weight: 700; font-size:18px; }
.property-promo { display:inline-block; margin:11px 0 0 0; min-height:40px; height:100%; }
.finest-selection { background: url('../img/why_finest_selection.png') left center no-repeat; line-height:21px; }
.port-assistant { background: url('../img/why_port_assistant.png') left center no-repeat; line-height:33px; }
.save-money { background: url('../img/why_save_money.png') left center no-repeat; line-height:33px; }
/*SECTION PROMO*/
/*BOOK SECTION*/
.section-book {	padding: 70px 0; }
.section-book h3 { font-size: 24px; color:#565656; }
/*BOOK SECTION*/
/*MOST SECTION*/
.supporticons img { /*max-height: 200px;*/ /*margin: 1rem 0 0 0;*/ } 
.imgholder-label-yellow { background-color:#ffb300; }
.imgholder-label-yellow:before { 	
	border-right:13px solid transparent; /*This is your color of the arrow*/
	border-top:13px solid #ffb300; /*half the height*/
	border-bottom:14px solid #ffb300; /*half the height*/
}
/*MOST SECTION*/
/*COMBO DEALS*/
.combo-deals h3 { color:#484747; text-align:left; margin:0; line-height:3; }
.combo-deals .button { padding: 14px 61px; }
/*COMBO DEALS*/
/*CUSTOMER REVIEWS*/
.customer-reviews .left-column, .right-column { min-height:611px; }
.customer-reviews div.row { max-width: 100%; }
.customer-reviews h2 { font-size:26px; color: white; }
.left-column { background-color: #8e001c; }
.square-customer-review {
	-moz-border-radius: 10px/10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px/10px;
	background-color: #ffb300;
	width:100px;
	height:100px;  
	margin:35px 0 10px 115px;
}
.left-column .figure span { color:#8e001c; }
.span-cr { font-family: 'Bree Serif'; font-weight: 400; font-size: 70px; color: white !important; text-shadow: 1px 1px 1px rgb(174, 172, 172); }
.figure { background:white; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	width:304px; 
	height:130px 
}
.left-column p { padding:11px 0 2px 15px; }
.left-column a { color:#8e001c; }
.left-column span.data { color:#95a5a6; }
#pointer { border:solid 10px transparent; border-right-color:#fff; position:absolute; margin:-105px 0 0 -20px; }
.right-column { background-color: #ffb300; }
.right-column.supporticons img { margin: 0 0 0 55px; }
.right-column p { font-size:18px; text-align:left; font-weight:400; color:#f2f2f2; margin: 0px 85px 40px 55px; }
.reviews-sign { font-size:20px; font-weight:bold; color:#f2f2f2; }
.customer-reviews .right-column hr { margin-left:55px; }
.orbit-container .orbit-slide-number, .orbit-container .orbit-timer,
.orbit-container .orbit-prev, .orbit-container .orbit-next { display:none; }
.orbit-bullets li { background:#ffffff; }
.orbit-bullets li.active { background:#8e001c; }
/*CUSTOMER REVIEWS*/
/*FEATURES BLOG*/
.features-blog p { font-size:14px; font-weight:400; text-align:left; line-height: 1.3; }
/*.features_blog p:last-child { border-bottom:4.5px solid #e0e0e0; padding-bottom:10px; }*/
.blog-column { margin-bottom:20px; }
span.text-data { font-size:12px; }
span.text-comment { font-size:12px; color:#8e001c; }
/*FEATURES BLOG*/
/*CONTENT*/
/*---------------------------------------------GENERAL PAGE----------------------------------------------------------*/

/*---------------------------------------------EXCURSION----------------------------------------------------------*/
.breadcrumb { color:#f2f1ef; max-width:100%; padding-top:65px; min-height:51px; }
.breadcrumb_lug { color:#f2f1ef; max-width:100%; /*padding-top:65px; min-height:51px;*/ }
.excursion-img  { width:100%; min-height:397px; margin:0 !important; }
.sidebar-bg { background-color:#f2f1ef; box-shadow:0 4px 0 0 rgba(142, 142, 142, 0.2); margin-bottom:30px; }
/*SIDEBAR*/
/*FEATURES*/
.features-text { color:#333333; font-weight:700; }
.features-span-red { text-decoration: underline; } 
.features-train { background: url('../img/excursion_train.png') left center no-repeat; }
.features-minivan { background: url('../img/excursion_minivan.png') left center no-repeat; }
.features-bus { background: url('../img/excursion_bus.png') left center no-repeat; }
.features-walk-tour { background: url('../img/excursion_walking.png') left center no-repeat; }
.features-cuisine-tour { background: url('../img/excursion_cuisine.png') left center no-repeat; }
.features-shopping-tour { background: url('../img/excursion_shopping.png') left center no-repeat; }
/*FEATURES*/
/*SIMILAR*/
.similar h2 { font-size:24px; padding:25px; }
.similar h3 { text-align:left; padding-top:15px; padding-bottom:5px; }
/*SIMILAR*/
/*SIDEBAR*/
/*TAB*/
.service-tab { margin-top:1em; box-shadow:0 4px 0 0 rgba(242, 241, 239, 0.87); border:2px solid #f2f1ef; }
.tabs dd > a, .tabs .tab-title > a { 
	color:#333333; 
	font-size:16px; 
	font-weight:700; 
	font-family:'Source Sans Pro',sans-serif;
	background-color:#f2f1ef; 
}
.tabs-content > .content { padding:0; }
.tabs-content p { padding:15px; }
/*TAB*/
/*TOP SHORE EXURSION*/
.header-h2 { font-size:28px; color:#8e001c; }
.service-container { 
	position:relative; 
	padding-left:0; 
	padding-right:0; 
	width:66.66667%; 
	float:left; 
	padding-bottom:20px;
	text-align:left;
}
.service-container a { font-weight:400; color:#565656; font-size:16px; }
.rating img { margin:0; }
.features-span-grey { color:#565656; font-size:16px; }
.features-glyphicons { background: url('../img/excursion_glyphicons.png') left center no-repeat; background-size:15px 15px; }
.features-glyphicons2 { background: url('../img/excursion_glyphicons2.png') left center no-repeat; background-size:15px 15px; }
.span-price-text { color:#565656; font-weight:300; font-size:24px; }
.span-price-num {color:#8e001c; font-weight:700; font-size:38px; }
/*TOP SHORE EXURSION*/
/*---------------------------------------------EXCURSION----------------------------------------------------------*/

/*---------------------------------------------ABOUT*US----------------------------------------------------------*/
.about-us-bgimg { background-image: url('../img/about_us_bg.jpg'); }
.about-us-bgimg h1 { width: 63%; top: 243px; color: #8e001c; font-size: 68px; }
.about-us-bgimg .overlay { background-color: rgb(255,179,0); }
/*PROMO SECTION*/
.about-us-promo { background-color:#8e001c; }
.about-us-promo h2 { color:white; }
.about-us-promo p { color:white; font-weight:400; font-size:20px; padding:45px 65px 0; }
/*PROMO SECTION*/
/*BOOK SECTION*/
.about-us-book p { font-weight:300; font-size:18px; }
/*BOOK SECTION*/
/*TOP*4*/
.section-top-for .features-span { color:#565656; font-size:14px; text-decoration:none; }
.imgholder-label-red { background-color:#8e001c; }
.imgholder-label-red:before { 	
	border-right:13px solid transparent; /*This is your color of the arrow*/
	border-top:13px solid #8e001c; /*half the height*/
	border-bottom:14px solid #8e001c; /*half the height*/
}
.section-top-for a.th { line-height:inherit; }
.about-us-clock { background: url('../img/about_us_clock.png') left center no-repeat; }
.about-us-check { background: url('../img/about_us_check.png') left center no-repeat; }
/*TOP*4*/
/*---------------------------------------------ABOUT*US----------------------------------------------------------*/

/*---------------------------------------------LUGGAGE----------------------------------------------------------*/
.luggage-bgimg { background-image: url('../img/luggage_bg.jpg'); padding-top:336px; }
.luggage-bgimg h1 { width: 75%;	top: 147px; font-size: 68px; left:15%; }
/*---------------------------------------------LUGGAGE----------------------------------------------------------*/

/*-----------------------------------------LUGGAGE DELIVERY-----------------------------------------------------*/
.luggage-cargo { background: url('../img/luggage_delivery_cargo.png') left center no-repeat; }
.luggage-alarm { background: url('../img/luggage_delivery_alarm.png') left center no-repeat; }
.luggage-group { background: url('../img/luggage_delivery_group.png') left center no-repeat; }
.luggage-compass { background: url('../img/luggage_delivery_compass.png') left center no-repeat; }
.luggage-wallet { background: url('../img/luggage_delivery_wallet.png') left center no-repeat; }
.luggage-old-man { background: url('../img/luggage_delivery_old_man.png') left center no-repeat; }
/*-----------------------------------------LUGGAGE DELIVERY-----------------------------------------------------*/
/*---------------------------------------------SERVICE*LIST-----------------------------------------------------*/
.service-category { background: url('../img/service_list_category.png') left center no-repeat; }
.service-time { background: url('../img/service_list_time.png') left center no-repeat; }
.service-person { background: url('../img/service_list_person.png') left center no-repeat; }
.service-bus { background: url('../img/service_list_bus.png') left center no-repeat; }
.service-language { background: url('../img/service_list_language.png') left center no-repeat; }
.service-quide { background: url('../img/service_list_quide.png') left center no-repeat; }
.pricing-table { margin:0 auto; border:none; }
.pricing-table .price, .pricing-table .cta-button { background-color:inherit; }
.service-btn-bg { 
	background: url('../img/service_list_luggage.png') 80px 12px no-repeat; 
	background-color:#8e001c; 
	padding:1rem 7rem 1.0625rem 7rem;
}
/*---------------------------------------------SERVICE*LIST-----------------------------------------------------*/
/*table*/
table { border: none; box-shadow: 0 4px 0 0 rgba(230, 230, 230, 0.5); }
table thead { background:#f2f1ef; box-shadow: 0 4px 0 0 rgba(230, 230, 230, 0.5); }
table thead tr th { color:#333333; font-weight:700; font-size:17px; }
table.table-pricing th { background-color: #f2f1ef; text-align:center; }
table.table-pricing tr:nth-child(even) { background-color:#f2f1ef; }
table.table-pricing tr:nth-child(odd) { background-color:#f8f8f8; }
table tr td { text-align:center; }
.note td:last-child { text-align:left; }
.note span.span-red { font-weight:700; }
.note p { font-weight:200; text-decoration:underline; }
/*table*/
/*reviews*/
.reviews h3 { text-align:left; }
.comment { text-align:left; padding:15px 0; }
h6.byline { position: relative; margin:0; display:inline-block;/*margin-bottom: 15px; margin-top:10px;*/ }
h6.byline .label { font-size: 60%; }
.byline a { font-size:16px; font-weight:700; }
.byline time { color:#999999; font-weight:400; font-size:12px; font-family:'Source Sans Pro', sans-serif; }
.indented.comment { padding-left: 15px; border-left:1px solid #ebebeb; }
.push { margin-bottom: 40px; }
.top .content  p { font-size:14px; }
.bullets { margin-left: 30px; }
/*reviews*/
/*FOOTER*/
.footer-top { background:#8e001c; }
.footer-top-container { padding-top:60px; text-align:left; }
.footer-top h3 { color:white; font-weight:700; font-size:20px; line-height:40px; }
.footer-top a { color:white; font-weight:400; font-size:16px; }
.footer-top ul { margin-left:0; }
.footer-top hr { border-color:white; margin-right:0px; padding:5px 0; }
.last-container { text-align:right; }
.footer-bottom { background:#ffb300; padding:22px 0; }
.footer-bottom p { font-size: 15px; color:white; font-weight:400; }
/*FOOTER*/

/* Scroll to top 
--------------------------------------------------------------------- */
#scroll-top { display: none; position: fixed; right: 20px; bottom: 40px; z-index: 999; }	
#scroll-top a { 
	background-color: #414141; 
	background-color: rgba(0, 0, 0, 0.45); 
	background-image: url(scroll_top.png); 
	background-repeat: no-repeat; 
	background-position: 50% 50%; 
	display: block; 
	overflow: hidden; 
	width: 40px; 
	height: 40px; 
	line-height: 40px; 
	border-radius: 3px; 
	text-indent: -9999px; 
}	
#scroll-top a:hover { background-color: #47AEDE; filter: alpha(opacity=100); opacity: 1; }




/*******************************MEDIA QUERY*******************************/
/*XXLarge screens*/
@media only screen and (min-width: 1921px) { 
	.spacer { padding:1.25em 9em; }
	.bgimg { padding-top: 760px; }
	.bgimg h1 { width: 56%; top: 282px; font-size: 82px; left:22%; } 
	.circle-img { width:161px; }
	.square-customer-review { margin: 35px 0 10px 231px; }
}

/*XLarge screens*/
@media only screen and (min-width: 1441px) and (max-width: 1920px) { 
	.bgimg { padding-top: 690px; }
}

/*Large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) { }

/*Medium screens*/
@media only screen and (min-width: 641px) and (max-width: 1024px) { }

/*Small screens*/
@media only screen and (max-width: 640px) { }
/*******************************MEDIA QUERY*******************************/









